#!/usr/bin/env bash

info() {
	local MESSAGE="$1"

	echo "[INFO] $MESSAGE" >&1
}

warn() {
	local MESSAGE="$1"

	echo "[WARNING] $MESSAGE" >&1
}

error() {
	local MESSAGE="$1"

	echo "[ERROR] $MESSAGE" >&2
}

export PROJECT_DIRECTORY=$(pwd)

AVAILABLE_STAGES=("dev")
if [ -z "$STAGE" ]; then
	export STAGE="${AVAILABLE_STAGES[0]}"
else
	if [[ ! "${AVAILABLE_STAGES[@]}" =~ "$STAGE" ]]; then
		error "Stage $STAGE is invalid. Choose one of ${AVAILABLE_STAGES[@]}."
		exit 1
	fi
	export STAGE=$STAGE
fi
info "Your stage is set to $STAGE."

export API_GATEWAY_PORT=23053
export SERVICE_DISCOVERY_PORT=23054
export AUTH_SERVICE_PORT=23055
export USER_SERVICE_PORT=23056
export JOURNAL_SERVICE_PORT=23057

if [ "$STAGE" = "dev" ]; then
	export KIOKE_BACKEND_URL="http://127.0.0.1:$API_GATEWAY_PORT"
fi
