@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-destructive: var(--destructive);
  --color-card: var(--card);
  --color-card-muted: var(--card-muted);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --primary: #7d3020;
  --primary-foreground: var(--background);
  --background: #fffff9;
  --foreground: #0a0908;
  --foreground-muted: #4a5565;
  --destructive: #d90429;
  --card: #ffffff;
  --card-muted: #f9f5f3;
  --card-foreground: var(--foreground);
  --border: #171717;
  --ring: var(--primary);
}

[data-theme='dark'] {
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/0;
    @apply focus:ring-0 focus:ring-offset-0 focus:outline-none;
  }

  body {
    background: var(--color-background);
  }
}
