server:
  port: ${API_GATEWAY_PORT}

spring:
  application:
    name: gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true

      default-filters:
        - RequestLoggingFilter

      routes:
        - id: Kioke Auth Service Login
          uri: lb://auth
          predicates:
            - Path=/auth/login
            - Method=POST

        - id: Kioke Auth Service Registration
          uri: lb://auth
          predicates:
            - Path=/auth/register
            - Method=POST

        - id: Kioke User Service Get Authenticated User Information
          uri: lb://user
          predicates:
            - Path=/users
            - Method=GET

        - id: Kioke User Service Get User Information
          uri: lb://user
          predicates:
            - Path=/users/{uid}
            - Method=GET

        - id: Kioke User Service Get Friends
          uri: lb://user
          predicates:
            - Path=/friends
            - Method=GET

        - id: Kioke User Service Add Friend
          uri: lb://user
          predicates:
            - Path=/friends
            - Method=POST

        - id: Kioke Journal Service Create Shelf
          uri: lb://journal
          predicates:
            - Path=/shelves
            - Method=POST

        - id: Kioke Journal Service Get Shelves
          uri: lb://journal
          predicates:
            - Path=/shelves
            - Method=GET

        - id: Kioke Journal Service Create Journal
          uri: lb://journal
          predicates:
            - Path=/journals
            - Method=POST

        - id: Kioke Journal Service Journal Operations
          uri: lb://journal
          predicates:
            - Path=/journals/{jid}/**
            - Method=GET,POST,PUT,PATCH,DELETE

eureka:
  instance:
    appname: gateway
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${server.port}}
  client:
    register-with-eureka: true
    fetch-registry: true
