name: ci

on:
  pull_request:

jobs:
  # find-changes:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     journal-service: ${{ steps.filter.outputs.journal-service }}
  #     web-client: ${{ steps.filter.outputs.web-client }}
  #   steps:
  #     - uses: dorny/paths-filter@v3
  #       id: filter
  #       with:
  #         filters: |
  #           journal-service:
  #             - 'journal-service/**'
  #           web-client:
  #             - 'web-client/**'

  web-client:
    # needs: find-changes
    # if: ${{ needs.find-changes.outputs.web-client == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Run CI actions
        uses: ./.github/actions/ci-web-client

  journal-service:
    # needs: find-changes
    # if: ${{ needs.find-changes.outputs.journal-service == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Run CI actions
        uses: ./.github/actions/ci-java-service
        with:
          service: journal-service
